	<div class="totalHeading" id="monthTotal">
	Total this month:<br/>
	<span class="totalNumber" id="month_total"><%= @month_total %></span>
	</div>

	<div class="totalHeading" id="yearTotal">
	Total this year: <br/>
	<span class="totalNumber" id="year_total"><%= @year_total %></span>
	</div>  
